<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    eventsNames = {
        'HM': 'Half Marathon',
        'Mar': 'Marathon',
        '10K': '10K',
        '5000': '5000',
        '10000': '10000'
    }

    function calculateYearlyMeanTime(year, yearResults, upto=250) {
        var count = 0;
        var timeSum = 0;
        var resultsArray = []
        var minTime = 4;
        var maxTime = 0;

        for (let i=0; i < upto && i < yearResults.length; i++){
            count += 1
            timeSum += yearResults[i]['time']
            var resultsString = i+1 + ". " + yearResults[i]['Name'] + " " + yearResults[i]['Chip']

            resultsArray.push([year, null, null, yearResults[i]['time'] / (60*60), resultsString])
            maxTime = Math.max(maxTime, yearResults[i]['time'] / (60*60))
            minTime = Math.min(minTime, yearResults[i]['time'] / (60*60))
        }

        var mu = (timeSum / count) / (60*60)
        var averageString = `Average time ${getStringTime(mu)}`

        resultsArray.push([year, mu, averageString, null, null])

        return [resultsArray, minTime, maxTime]
    }

    function calculateMeanResultForYears(data, upto=250) {
        var meanTimes = [];
        var maxTime = 0;
        var minTime = 4;

        for (let y of Object.keys(data)){
            var mu = calculateYearlyMeanTime(parseInt(y), data[y], upto)
            meanTimes = meanTimes.concat(mu[0])
            maxTime = Math.max(maxTime, mu[2])
            minTime = Math.min(minTime, mu[1])

        }

        return [meanTimes, minTime, maxTime]
    }

    function getStringTime(t) {
        var hrs = Math.floor(t)
        var mins = Math.floor(t * 60 % 60)
        var secs = Math.floor(t * 60 * 60 - hrs * 60 * 60 - mins * 60)

        if (secs > 10 && mins > 10){
            return `${hrs}:${mins}:${secs}`
        } else if (mins > 10) {
            return `${hrs}:${mins}:0${secs}`
        } else if (secs > 10) {
            return `${hrs}:0${mins}:${secs}`
        } else {
            return `${hrs}:0${mins}:0${secs}`
        }


    }

    function minQuarterHour(t, r=4) {
        return Math.floor(t * r) / r
    }

    function maxQuarterHour(t, r=4) {
        return Math.ceil(t * r) / r
    }

    function generateTicks(minT, maxT, event) {
        ticks = []
        if (event === 'Mar') {r = 4} else {r = 12}

        for (t = minQuarterHour(minT, r); t <= maxQuarterHour(maxT, r); t += 1 / r){
            ticks.push({"v": t, "f": getStringTime(t)})
        }
        return ticks
    }

    function drawChart(event='Mar', upto=50, isFemale=true) {
        if (event === 'Mar' && isFemale){
            var resultsData = {{ .Site.Data.MarRankings }}
        } else if (event === 'HM' && isFemale){
            var resultsData = {{ .Site.Data.HMRankings }}
        } else if (event === '10K' && isFemale) {
            resultsData = {{ .Site.Data.tenRankings }}
        } else if (event === '5000' && isFemale) {
            resultsData = {{ .Site.Data.fiveThousandRankings }}
        } else if (event === '10000' && isFemale) {
            resultsData = {{ .Site.Data.tenThousandRankings }}
        } else if (event === 'Mar') {
            var resultsData = {{ .Site.Data.MarRankingsMen }}
        } else if (event === 'HM') {
            var resultsData = {{ .Site.Data.HMRankingsMen }}
        } else if (event === '10K') {
            var resultsData = {{ .Site.Data.tenRankingsMen }}
        } else if (event === '5000') {
            var resultsData = {{ .Site.Data.fiveThousandRankingsMen }}
        } else {
            var resultsData = {{ .Site.Data.tenThousandRankingsMen }}
        }

        var topResults = upto

        var rawData = calculateMeanResultForYears(resultsData, topResults);


        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Year');
        dataTable.addColumn('number', 'Average time');
        dataTable.addColumn({type: 'string', role: 'tooltip'})
        dataTable.addColumn('number', 'Time')

        // column for tooltip content
        dataTable.addColumn({type: 'string', role: 'tooltip'});

        dataTable.addRows(rawData[0]);

        // var data = google.visualization.arrayToDataTable(rawData, true);

        var titleString = `Finishing time for top ${topResults} British runners by year - ${eventsNames[event]}`

        var options = {
            title : titleString,
            vAxis: {
                title: 'Finishing time (hrs)',
                ticks: generateTicks(rawData[1], rawData[2], event)
            },
            hAxis: {title: 'Year', format: '####'},
            backgroundColor: "#FEFFDB",
            legend: false,
            series: {
                1: {color: "#FF8B00",
                    pointShape: {dataOpacity: 0.3},
                    pointSize: 5
                },
                0: {color: "#444444",
                    pointShape: {type: 'diamond', sides: 5, dent: 0.7}, pointSize: 20, dataOpacity: 0.7},
                    curveType: 'function',
                    lineWidth: 1
            }
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(dataTable, options);
    }

    (function () {
        window.onload=function(){

            const selectElement = document.querySelector('.distance');
            var slider = document.getElementById("myRange");
            var g = document.getElementsByName('gender');

            var e = 'Mar';
            var n = 100;
            var isFemale = true;

            selectElement.addEventListener('change', (event) => {
                e = event.target.value
                drawChart(e=e, n=n, female=isFemale);
            });

            slider.oninput = function() {
                n = this.value;
                drawChart(e=e, n=n, female=isFemale)
            }

            // loop through list
            for (var i=0, len=g.length; i<len; i++) {
                g[i].onclick = function() { // assign onclick handler function to each
                    // put clicked radio button's value in total field
                    isFemale = this.value === "female";
                    drawChart(e=e, n=n, female=isFemale);
                };
            }
        }
    }())


</script>

<label>Choose a distance:
    <select class="distance" name="distance">
        <option value="Mar">Marathon</option>
        <option value="HM">Half Marathon</option>
        <option value="10K">10km</option>
        <option value="10000">10000m</option>
        <option value="5000">5000m</option>
    </select>
</label>

<div class="slidecontainer" style="margin-top: 0">
    <label>Number of athletes :
    <input type="range" min="10" max="249" value="50" class="slider" id="myRange">
    </label>
</div>
<label for="female" style="margin-top: 0;"><input type="radio" name="gender" value="female" id="female" checked> Senior Women<br></label>
<label for="male" style="margin-top: 0;"><input type="radio" name="gender" value="male" id="male"> Senior Men</label>

<div id="chart_div"></div>

<style>

    #chart_div {
        width: 800px;
        height: 500px;
        margin: 0;
    }

    @media screen and (max-width: 45em) {
        #chart_div {
            width: 100%;
            height: 500px;
            margin: 0;
            overflow: scroll;
        }
    }


</style>
