<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript"></script>
<script>

    google.charts.load('current', {packages: ['corechart', 'bar', 'table']});
    google.charts.setOnLoadCallback(drawBarColors);

    function sortFunction(a, b) {
        var aTotal = (a[1] + a[2] + a[3] + a[4])
        var bTotal = (b[1] + b[2] + b[3] + b[4])
        if (aTotal  === bTotal) {
            return 0;
        }
        else {
            return (aTotal < bTotal) ? -1 : 1;
        }
    }

    function checkAllMatches(a) {
        return a.length === 5;
    }

    function athletesToScore(isFemale) {
        if (isFemale){
            return 5;
        } else {
            return 10;
        }
    }


    function drawBarColors(year="2018", isFemale=true) {

        var rawData = getSurreyLeagueData(isFemale);
        var toScore = athletesToScore(isFemale);

        var teamScores = {}
        var matchScores = [["Club", "Match 1", "Match 2", "Match 3", "Match 4"]]

        for(var i = 1; i < 5; i++) {
            teamScores[i] = {}

            for (var j = 0; j < rawData[year][i]["positions"].length; j++) {

                var athleteResult = rawData[year][i]["positions"][j]

                if (athleteResult["club"] in teamScores[i]) {
                    teamScores[i][athleteResult["club"]].push(athleteResult["rank"])
                } else {
                    teamScores[i][athleteResult["club"]] = [athleteResult["rank"]]
                }
            }

            for (var c in teamScores[i]){
                if (i == 1) {
                    matchScores.push([c, teamScores[i][c].slice(0, toScore).reduce((partial_sum, a) => partial_sum + a)])
                } else if (c != "???") {
                    for (var k = 0; k < matchScores.length; k ++){
                        if (c == matchScores[k][0]) {
                            matchScores[k].push(teamScores[i][c].slice(0, toScore).reduce((partial_sum, a) => partial_sum + a))
                        }
                    }
                }

            }
        }

        var data = google.visualization.arrayToDataTable(matchScores.filter(checkAllMatches).sort(sortFunction).slice(0, 16));

        var options = {
            width: 800,
            height: 1000,
            legend: { position: 'top', maxLines: 3 },
            bar: { groupWidth: '75%' },
            isStacked: true,
            series: {
                0: {color: '#11144C'},
                1: {color: '#3A9679'},
                2: {color: '#FABC60'},
                3: {color: '#E16262'}
            },
            chartArea: { width: "60%", height: "80%" }
        };
        var chart = new google.visualization.BarChart(document.getElementById('stackedbox_div'));
        chart.draw(data, options);
    }

</script>

<label>Choose a season:
    <select class="season" name="season">
        <option value="2018">2018/19</option>
        <option value="2017">2017/18</option>
        <option value="2016">2016/17</option>
        <option value="2015">2015/16</option>
        <option value="2014">2014/15</option>
    </select>
</label><br>
    <label for="female" style="margin-top: 0;"><input type="radio" name="boxGender" value="female" id="female" checked> Senior Women<br></label>
    <label for="male" style="margin-top: 0;"><input type="radio" name="boxGender" value="male" id="male"> Senior Men</label>
<div id="stackedbox_div" style="height: 1000px; width: 100%; margin-top: 0;  left: 10px"></div>

